#img-addperson {
    max-width: 7em;
}

input {
    background-color: #d2d5d8;
    border: #d2d5d8;
    max-width: 55%;
}

.alert {
    max-width: 55%;
}

#btn-modal {
    background-color: #ca1c1c;
    color: white;
    padding: 0px 2em;
}

.modal-header, 
.modal-body,
.modal-footer {
    border:none;
}

.modal-footer {
    padding-bottom: 3em;
}