<div class="modal fade" id="modal-instructor" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">


            <div class="modal-header p-0 mt-5">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <img src="../../assets/addperson.svg" class="img-fluid" id="img-addperson">
                </div>
            </div>


            <div class="modal-body p-0 mb-3">

                <div class="row d-flex align-items-center justify-content-center p-0 m-2">
                    <input type="text" class="form-control" [placeholder]="instructorSended ? instructorSended.name : 'Nombre'" [formControl]="name">
                    <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">El nombre es obligatorio</div>
                </div>

                <div class="row d-flex align-items-center justify-content-center p-0 m-2">
                    <input type="text" class="form-control" [placeholder]="instructorSended ? instructorSended.email : 'Email'" [formControl]="email">
                    <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                        <span *ngIf="email.errors?.['required']">El correo electrónico es obligatorio</span>
                        <span *ngIf="email.errors?.['email']">El correo electrónico debe ser válido</span>
                    </div>
                </div>

                <div class="row d-flex align-items-center justify-content-center p-0 m-2">
                    <input type="text" class="form-control" [placeholder]="instructorSended ? instructorSended.phoneNumber.toString() : 'Teléfono'" [formControl]="phone">
                    <div class="alert alert-danger mt-2" [hidden]="phone.valid || phone.pristine">
                        <span *ngIf="phone.errors?.['required']">El teléfono es obligatorio</span>
                        <span *ngIf="phone.errors?.['pattern']">El teléfono debe ser válido</span>
                    </div>
                </div>

            </div>


            <div class="modal-footer d-flex justify-content-center align-items-center g-0">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-6">
                        <button *ngIf="!instructorSended" class="btn rounded-4" id="btn-modal" [disabled]="name.invalid || email.invalid || phone.invalid" (click)="createInstructor(name.value , email.value, phone.value)" data-bs-dismiss="modal">ACEPTAR</button>
                        <button *ngIf="instructorSended" class="btn rounded-4" id="btn-modal" [disabled]="name.invalid || email.invalid || phone.invalid" (click)="editInstructor(name.value , email.value, phone.value)" data-bs-dismiss="modal">ACEPTAR</button>
                    </div>
                    <div class="col-6">
                        <button class="btn rounded-4" data-bs-dismiss="modal" id="btn-modal" (click)="resetFormValues()">CANCELAR</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>