.container-fluid {
    margin-top: 7em;
}

input,
span,
.card {
    background-color: #d2d5d8;
    border: #d2d5d8;
}

#img-plus {
    max-height: 150px;
}

#img-arrow {
    max-height: 50px;
}

#img-person {
    max-width: 7em;
}

#img-search,
#img-drop-edit {
    max-height: 20px;
}

.form-control {
    max-width: 50%;
}