#row-container {
    min-height: 7em;
}

span {
    color: white;
    font-size: 1.75em;
    font-weight: bolder;
}

#free {
    background-color:rgb(6, 115, 6)
}

img {
    max-width: 40px;
}

p {
    font-weight: bolder;
}

/* ACTIVITY STYLE */
#row-activity {
    background-color: #d2d5d8;
}

#img-act-type {
    max-width: 65px;
}

#img-trash,
#img-edit {
    max-width: 30px;
}

#img-person {
    max-width: 65px;
}