<div class="container-fluid">
    <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center p-2">
            <p>10:00<br>11:30</p>
        </div>
        <div class="col-10 p-0" id="free">
            <div class="row">
                <div class="col-10 d-flex align-items-center justify-content-center pt-4"><span>FREE</span></div>
                <div class="col-2 d-flex align-items-start justify-content-end">
                    <button class="btn p-0">
                        <img src="../../assets/plus.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center p-2">
            <p>13:30<br>15:00</p>
        </div>
        <div class="col-10 p-0" id="free">
            <div class="row">
                <div class="col-10 d-flex align-items-center justify-content-center pt-4"><span>FREE</span></div>
                <div class="col-2 d-flex align-items-start justify-content-end">
                    <button class="btn p-0">
                        <img src="../../assets/plus.svg">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id>
        <div class="col-2 d-flex align-items-center justify-content-center p-2">
            <p>17:30<br>19:00</p>
        </div>
        <div class="col-10 p-0" id="free">
            <app-activityboard></app-activityboard>
        </div>
    </div>
</div>