.navbar {
    background-color: #d2d5d8;
}

img {
    max-width: 70px;
}

span {
    font-size: 2em;
    font-weight: 900;
    color: #ca1c1c;
}

#selectable {
    padding-top: 0.5em;
}

#selectable:hover {
    background-color: rgb(209, 190, 190);
    border-top: 5px solid #ca1c1c
}

#selectable:active {
    border-top: 5px solid #ca1c1c
}

#no-gutters {
    padding: 0px;
    margin: 0px;
}