<nav class="navbar fixed-bottom navbar-light bg-light" id="no-gutters">
    <div class="container-fluid d-flex">
        <div class="col-6 align-items-center  justify-content-center d-flex" id="selectable">
            <div class="col-6 text-center">
                <img src="../../assets/calendarclock.svg" class="img-fluid" alt="activities-logo">
                <span>ACTIVIDADES</span>
            </div>
        </div>
        <div class="col-6 align-items-center  justify-content-center d-flex" id="selectable">
            <div class="col-6 text-center">
                <img src="../../assets/person.svg" class="img-fluid" alt="instructor-logo">
                <span>MONITORES</span>
            </div>
        </div>
    </div>
</nav>
