<div class="row" id="row-activity">
    <div class="col-3">
        <div class="row d-flex justify-content-center align-items-center">
            <img src="../../assets/person.svg" class="img-fluid" id="img-person">
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <p>Nombre monitor</p>
        </div>
    </div>
    <div class="col-3">
        <div class="row d-flex justify-content-center align-items-center"><img src="../../assets/person.svg"
                class="img-fluid" id="img-person"></div>
        <div class="row d-flex justify-content-center align-items-center">
            <p>Nombre monitor</p>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
        <img src="../../assets/pilates.svg" class="img-fluid" id="img-act-type">
    </div>
    <div class="col-2">
        <div class="row d-flex justify-content-end align-items-start">
            <button class="btn">
                <img src="../../assets/trash.svg" class="img-fluid" id="img-trash">
            </button>
        </div>
        <div class="row d-flex justify-content-end align-items-end">
            <button class="btn">
                <img src="../../assets/edit.svg" class="img-fluid" id="img-edit">
            </button>
        </div>
    </div>
</div>